<h1>User Information {{#if isMayor }}Es mayo de edad {{/if}}</h1>
<div class="container mt-4">
<table class="table">
      <thead>
        <tr>
          <th scope="col">Campo</th>
          <th scope="col">Valor</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">Nombre</th>
          <td>{{usuario.nombre}}</td>
        </tr>
        <tr>
          <th scope="row">Apellido</th>
          <td>{{usuario.apellido}}</td>
        </tr>
        <tr>
          <th scope="row">Edad</th>
          <td>{{usuario.edad}}</td>
        </tr>
        <tr>
          <th scope="row">Correo</th>
          <td>{{usuario.correo}}</td>
        </tr>
        <tr>
          <th scope="row">Teléfono</th>
          <td>{{usuario.telefono}}</td>
        </tr>
      </tbody>
    </table>
</div>
  